/* General */
:root {
  scroll-behavior: smooth;
  --dark: #013289;
  --dark1: #012970;
  --light: #4154f1;
  --pink: #f51f9c;
  --green: #18d26e;
  --green1: #08da4e;
  --blight: #5969f3;
  --brown: #444444;
  --lightBlue: #2db6fa;
  --yellow: #f68c09;
  --red: #e9222c;
  --purple: #b50edf;
  --dbrown: rgba(1, 41, 112, 0.08);
  --white: #fff;
}

body {
  font-family: "El Messiri", sans-serif;
  color: var(--brown);
}

/*  inner-nav */
.inner-nav {
  padding: 15px 0;
  background: var(--dark1);
  min-height: 40px;
  margin-top: 82px;
  color: var(--white);
}

@media (max-width: 992px) {
  .inner-nav {
    margin-top: 57px;
  }
}

.inner-nav h2 {
  font-size: 28px;
  font-weight: 500;
}

.inner-nav ol {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0 0 10px 0;
  margin: 0;
  font-size: 14px;
}

.inner-nav ol a {
  color: var(--white);
  transition: 0.3s;
}

.inner-nav ol a:hover {
  text-decoration: underline;
}

.inner-nav ol li + li {
  padding-left: 10px;
}

.inner-nav ol li + li::before {
  display: inline-block;
  padding-right: 10px;
  color: #8894f6;
  content: "/";
}
.ul{
  font-size: 18px;
}
.ul li {
  margin-bottom: 8px;
}
/*  service */
.service #service-flters {
  padding: 0;
  margin: 0 auto 25px auto;
  list-style: none;
  text-align: center;
  background: var(--white);
  border-radius: 50px;
  padding: 2px 15px;
}
.service #service-flters li {
  cursor: pointer;
  display: inline-block;
  padding: 8px 20px 10px 20px;
  font-size: 15px;
  font-weight: 600;
  line-height: 1;
  color: var(--brown);
  margin: 0 4px 8px 4px;
  transition: 0.3s;
  border-radius: 50px;
  border: 1px solid var(--white);
}
.service #service-flters li:hover,
.service #service-flters li.filter-active {
  color: var(--light);
  border-color: var(--light);
}
.service #service-flters li:last-child {
  margin-right: 0;
}
.service .service-wrap {
  transition: 0.3s;
  position: relative;
  overflow: hidden;
  z-index: 1;
  background: rgba(255, 255, 255, 0.75);
}
.service .service-wrap::before {
  content: "";
  background: rgba(255, 255, 255, 0.75);
  position: absolute;
  left: 30px;
  right: 30px;
  top: 30px;
  bottom: 30px;
  transition: all ease-in-out 0.3s;
  z-index: 2;
  opacity: 0;
}
.service .service-wrap img {
  transition: 1s;
}
.service .service-wrap .service-info {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  text-align: center;
  z-index: 3;
  transition: all ease-in-out 0.3s;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.service .service-wrap .service-info::before {
  display: block;
  content: "";
  width: 48px;
  height: 48px;
  position: absolute;
  top: 35px;
  left: 35px;
  border-top: 3px solid rgba(1, 41, 112, 0.2);
  border-left: 3px solid rgba(1, 41, 112, 0.2);
  transition: all 0.5s ease 0s;
  z-index: 9994;
}
.service .service-wrap .service-info::after {
  display: block;
  content: "";
  width: 48px;
  height: 48px;
  position: absolute;
  bottom: 35px;
  right: 35px;
  border-bottom: 3px solid rgba(1, 41, 112, 0.2);
  border-right: 3px solid rgba(1, 41, 112, 0.2);
  transition: all 0.5s ease 0s;
  z-index: 9994;
}
.service .service-wrap .service-info h4 {
  font-size: 20px;
  color: var(--dark1);
  font-weight: 700;
}
.service .service-wrap .service-info p {
  color: var(--dark1);
  font-weight: 600;
  font-size: 14px;
  text-transform: uppercase;
  padding: 0;
  margin: 0;
}
.service .service-wrap .service-links {
  text-align: center;
  z-index: 4;
}
.service .service-wrap .service-links a {
  color: var(--white);
  background: var(--light);
  margin: 10px 2px;
  width: 36px;
  height: 36px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  transition: 0.3s;
}
.service .service-wrap .service-links a i {
  font-size: 24px;
  line-height: 0;
}
.service .service-wrap .service-links a:hover {
  background: var(--blight);
}
.service .service-wrap:hover img {
  transform: scale(1.1);
}
.service .service-wrap:hover::before {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 1;
}
.service .service-wrap:hover .service-info {
  opacity: 1;
}
.service .service-wrap:hover .service-info::before {
  top: 15px;
  left: 15px;
}
.service .service-wrap:hover .service-info::after {
  bottom: 15px;
  right: 15px;
}
.service-info ul li {
  color: var(--brown);
}

/* service Details */
.service-details {
  padding-top: 40px;
}
.service-details .service-details-slider img {
  width: 100%;
}
.service-details .service-details-slider .swiper-pagination {
  margin-top: 20px;
  position: relative;
}
.service-details
  .service-details-slider
  .swiper-pagination
  .swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  background-color: var(--white);
  opacity: 1;
  border: 1px solid var(--light);
}
.service-details
  .service-details-slider
  .swiper-pagination
  .swiper-pagination-bullet-active {
  background-color: var(--light);
}
.service-details .service-info {
  padding: 30px;
  box-shadow: 0px 0 30px var(--dbrown);
}
.service-details .service-info h3 {
  font-size: 22px;
  font-weight: 700;
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #eee;
}
.service-details .service-info ul {
  list-style: none;
  padding: 0;
  font-size: 15px;
}
.service-details .service-info ul li + li {
  margin-top: 10px;
}
.service-details .service-condition {
  padding-top: 30px;
}
.service-details .service-condition h2 {
  font-size: 26px;
  font-weight: 700;
  margin-bottom: 20px;
}
.service-details .service-condition p {
  padding: 0;
}


/* orders */
.orders {
  background: #f6f9ff;
  border-top: 1px solid #e1ecff;
}
.orders .box {
  padding: 30px;
  box-shadow: 0px 0 5px var(--dbrown);
  transition: 0.3s;
  height: 100%;
  background: rgba(255, 255, 255, 0.548);
}
.orders .box img {
  padding: 30px 50px;
  transition: 0.5s;
  transform: scale(1.1);
}
.orders .box h3 {
  font-size: 24px;
  color: var(--dark1);
  font-weight: 700;
  margin-bottom: 18px;
}
.orders .box ul li span {
  margin-right: 20px;
}
.orders .box:hover {
  box-shadow: 0px 0 30px var(--dbrown);
}
.orders .box:hover img {
  transform: scale(1);
}
.left-altrenative{
    margin-top: 130px;
  }
  .left-clincserts{
    margin-top: 60px;
  }
  .left-conditions,
  .left-death,
  .left-disability{
    margin-top: 120px;
  }
  .left-consultantcards,
  .left-diseases,
  .left-supervision{
    margin-top: 150px;
  }
  .left-educationfees,
  .left-recruitments{
    margin-top: 100px;
  }
  .left-evictioncerts,
  .left-renewal{
    margin-top: 135px;
  }
  .left-experiencecerts,
  .left-treatment{
    margin-top: 55px;
  }
  .left-health{
    margin-top: 70px;
  }
  .left-networks,
  .left-professionlicenses{
    margin-top: 25px;
  }
  .left-privateclinics,
  .left-health{
    margin-top: 35px;
  }
  .left-professionlicens{
    margin-top: 95px;
  }
  .left-specialistcards{
    margin-top: 150px;
  }
  .left-specialiststabels{
    margin-top: 20px;
  }
  .left-treatments{
    margin-top: 140px;
  }
  .left-surgery{
    margin-top:57px;
  }
  .left-medical,
  .left-giveBirth{
    margin-top:90px;
  }

  /* payment */

  .payment {
    padding: 50px 0;
    background: #f6f9ff;
    border-top: 1px solid #e1ecff;
  }
  .payment h4 {
    font-size: 24px;
    margin: 0 0 10px 0;
    padding: 0;
    line-height: 1;
    font-weight: 700;
    color: var(--dark1);
  }
  .payment a {
    background: var(--light);
    border: 0;
    padding: 10px 30px;
    color: var(--white);
    transition: 0.4s;
    border-radius: 4px;
    width: max-content;
    font-size: 20px;
  }
  .payment a:focus {
    outline: 0;
  }
  .payment a:hover {
    background-color: var(--blight);
  }

  .payment p{
    font-size: 15px;
  }

  /* media */
  @media screen and (max-width: 600px){
    .left{
      margin-top: 15px;
    }
  }
