/* General */
:root {
    scroll-behavior: smooth;
    --dark: #013289;
    --dark1: #012970;
    --light: #4154f1;
    --pink: #f51f9c;
    --green: #18d26e;
    --green1: #08da4e;
    --blight: #5969f3;
    --brown: #444444;
    --lightBlue: #2db6fa;
    --yellow: #f68c09;
    --red: #e9222c;
    --purple: #b50edf;
    --dbrown: rgba(1, 41, 112, 0.08);
    --white: #fff;
}

body {
    font-family: "El Messiri", sans-serif;
    color: var(--brown);
}

a {
    color: var(--light);
    text-decoration: none;
}

a:hover {
    color: #717ff5;
    text-decoration: none;
}

/* start Header */
header nav {
    direction: rtl;
}
/* end header */

/* Sections */
section {
    padding: 60px 0;
    overflow: hidden;
}

.section-header {
    padding-bottom: 40px;
}
.section-header h2 {
    font-size: 13px;
    letter-spacing: 1px;
    font-weight: 700;
    margin: 0;
    color: var(--light);
    text-transform: uppercase;
}
.section-header p {
    margin: 10px 0 0 0;
    padding: 0;
    font-size: 38px;
    line-height: 42px;
    font-weight: 700;
    color: var(--dark1);
}
@media (max-width: 768px) {
    .section-header p {
        font-size: 28px;
        line-height: 32px;
    }
}

/* Back to top button */
.back-to-top {
    position: fixed;
    visibility: hidden;
    opacity: 0;
    right: 15px;
    bottom: 15px;
    z-index: 99999;
    background: var(--light);
    width: 40px;
    height: 40px;
    border-radius: 4px;
    transition: all 0.4s;
}
.back-to-top i {
    font-size: 24px;
    color: var(--white);
    line-height: 0;
}
.back-to-top:hover {
    background: #6776f4;
    color: var(--white);
}
.back-to-top.active {
    visibility: visible;
    opacity: 1;
}

/* Disable aos animation delay on mobile devices */
@media screen and (max-width: 768px) {
    [data-aos-delay] {
        transition-delay: 0 !important;
    }
}
/* Header */
.header {
    transition: all 0.5s;
    z-index: 997;
    padding: 20px 0;
}
.header.header-scrolled {
    background: var(--white);
    padding: 15px 0;
    box-shadow: 0px 2px 20px rgba(1, 41, 112, 0.1);
}
.header .logo {
    line-height: 0;
}
.header .logo img {
    max-height: 40px;
    margin-right: 6px;
}
.header .logo span {
    font-size: 30px;
    font-weight: 700;
    letter-spacing: 1px;
    color: var(--dark1);
    margin-top: 3px;
}

/*Navigation Menu */
/* Desktop Navigation */
.navbar {
    padding: 0;
}
.navbar ul {
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;
    align-items: center;
}
.navbar li {
    position: relative;
}
.navbar a,
.navbar a:focus {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0 10px 30px;
    font-size: 16px;
    font-weight: 700;
    color: var(--dark);
    white-space: nowrap;
    transition: 0.3s;
}
.navbar a i,
.navbar a:focus i {
    font-size: 12px;
    line-height: 0;
    margin-left: 5px;
}
.navbar a:hover,
.navbar .active,
.navbar .active:focus,
.navbar li:hover > a {
    color: var(--light);
}
.navbar .getstarted,
.navbar .getstarted:focus {
    background: var(--light);
    padding: 8px 20px;
    margin-left: 30px;
    border-radius: 4px;
    color: var(--white);
}
.navbar .getstarted:hover,
.navbar .getstarted:focus:hover {
    color: var(--white);
    background: var(--blight);
}
.navbar .dropdown ul {
    display: block;
    position: absolute;
    left: 14px;
    top: calc(100% + 30px);
    margin: 0;
    padding: 10px 0;
    z-index: 99;
    opacity: 0;
    visibility: hidden;
    background: var(--white);
    box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
    transition: 0.3s;
    border-radius: 4px;
}
.navbar .dropdown ul li {
    min-width: 200px;
}
.navbar .dropdown ul a {
    padding: 10px 20px;
    font-size: 15px;
    text-transform: none;
    font-weight: 600;
}
.navbar .dropdown ul a i {
    font-size: 12px;
}
.navbar .dropdown ul a:hover,
.navbar .dropdown ul .active:hover,
.navbar .dropdown ul li:hover > a {
    color: var(--light);
}
.navbar .dropdown:hover > ul {
    opacity: 1;
    top: 100%;
    visibility: visible;
}
.navbar .dropdown .dropdown ul {
    top: 0;
    left: calc(100% - 30px);
    visibility: hidden;
}
.navbar .dropdown .dropdown:hover > ul {
    opacity: 1;
    top: 0;
    left: 100%;
    visibility: visible;
}
@media (max-width: 1366px) {
    .navbar .dropdown .dropdown ul {
        left: -90%;
    }
    .navbar .dropdown .dropdown:hover > ul {
        left: -100%;
    }
}

/* Mobile Navigation */
.mobile-nav-toggle {
    color: var(--dark1);
    font-size: 28px;
    cursor: pointer;
    display: none;
    line-height: 0;
    transition: 0.5s;
}
.mobile-nav-toggle.bi-x {
    color: var(--white);
}

@media (max-width: 991px) {
    .mobile-nav-toggle {
        display: block;
    }

    .navbar ul {
        display: none;
    }
}
.navbar-mobile {
    position: fixed;
    overflow: hidden;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: rgba(1, 22, 61, 0.9);
    transition: 0.3s;
}
.navbar-mobile .mobile-nav-toggle {
    position: absolute;
    top: 15px;
    right: 15px;
}
.navbar-mobile ul {
    display: block;
    position: absolute;
    top: 55px;
    right: 15px;
    bottom: 15px;
    left: 15px;
    padding: 10px 0;
    border-radius: 10px;
    background-color: var(--white);
    overflow-y: auto;
    transition: 0.3s;
}
.navbar-mobile a,
.navbar-mobile a:focus {
    padding: 10px 20px;
    font-size: 15px;
    color: var(--dark1);
}
.navbar-mobile a:hover,
.navbar-mobile .active,
.navbar-mobile li:hover > a {
    color: var(--light);
}
.navbar-mobile .getstarted,
.navbar-mobile .getstarted:focus {
    margin: 15px;
}
.navbar-mobile .dropdown ul {
    position: static;
    display: none;
    margin: 10px 20px;
    padding: 10px 0;
    z-index: 99;
    opacity: 1;
    visibility: visible;
    background: var(--white);
    box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
}
.navbar-mobile .dropdown ul li {
    min-width: 200px;
}
.navbar-mobile .dropdown ul a {
    padding: 10px 20px;
}
.navbar-mobile .dropdown ul a i {
    font-size: 12px;
}
.navbar-mobile .dropdown ul a:hover,
.navbar-mobile .dropdown ul .active:hover,
.navbar-mobile .dropdown ul li:hover > a {
    color: var(--light);
}
.navbar-mobile .dropdown > .dropdown-active {
    display: block;
}

/* Hero Section */
.hero {
    width: 100%;
    height: 100vh;
    background: url(../img/hero-blight.png) top center no-repeat;
    background-size: cover;
}
.hero h1 {
    margin: 0;
    font-size: 48px;
    font-weight: 700;
    color: var(--dark1);
}
.hero h2 {
    color: var(--brown);
    margin: 15px 0 0 0;
    font-size: 26px;
}
.hero .btn-get-started {
    margin-top: 30px;
    line-height: 0;
    padding: 15px 40px;
    border-radius: 4px;
    transition: 0.5s;
    color: var(--white);
    background: var(--light);
    box-shadow: 0px 5px 30px rgba(65, 84, 241, 0.4);
}
.hero .btn-get-started span {
    font-weight: 600;
    font-size: 16px;
    letter-spacing: 1px;
}
.hero .btn-get-started i {
    margin-left: 5px;
    font-size: 18px;
    transition: 0.3s;
}
.hero .btn-get-started:hover i {
    transform: translateX(5px);
}
.hero .hero-img {
    text-align: right;
}
@media (min-width: 1024px) {
    .hero {
        background-attachment: fixed;
    }
}
@media (max-width: 991px) {
    .hero {
        height: auto;
        padding: 120px 0 60px 0;
    }
    .hero .hero-img {
        text-align: center;
        margin-top: 80px;
    }
    .hero .hero-img img {
        width: 80%;
    }
}
@media (max-width: 768px) {
    .hero {
        text-align: center;
    }
    .hero h1 {
        font-size: 32px;
    }
    .hero h2 {
        font-size: 24px;
    }
    .hero .hero-img img {
        width: 100%;
    }
}
/* Services */
.services .service-box {
    box-shadow: 0px 0 30px var(--dbrown);
    height: 100%;
    padding: 60px 30px;
    text-align: center;
    transition: 0.3s;
    border-radius: 5px;
}
.services .service-box .icon {
    font-size: 36px;
    padding: 40px 20px;
    border-radius: 4px;
    position: relative;
    margin-bottom: 25px;
    display: inline-block;
    line-height: 0;
    transition: 0.3s;
}
.services .service-box h3 {
    color: var(--brown);
    font-weight: 700;
}
.services .service-box .read-more {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    font-size: 16px;
    padding: 8px 20px;
}
.services .service-box .read-more i {
    line-height: 0;
    margin-left: 5px;
    font-size: 18px;
}
.services .service-box.blue {
    border-bottom: 3px solid var(--lightBlue);
}
.services .service-box.blue .icon {
    background: #dbf3fe;
}
.services .service-box.blue .icon,
.services .service-box.blue .read-more {
    color: var(--lightBlue);
}
.services .service-box.blue:hover {
    background: var(--lightBlue);
}
.services .service-box.orange {
    border-bottom: 3px solid var(--yellow);
}
.services .service-box.orange .icon {
    background: #fde3c4;
}
.services .service-box.orange .icon,
.services .service-box.orange .read-more {
    color: var(--yellow);
}
.services .service-box.orange:hover {
    background: var(--yellow);
}
.services .service-box.green {
    border-bottom: 3px solid var(--green1);
}
.services .service-box.green .icon {
    background: #cffddf;
}
.services .service-box.green .icon,
.services .service-box.green .read-more {
    color: var(--green1);
}
.services .service-box.green:hover {
    background: var(--green1);
}
.services .service-box.red {
    border-bottom: 3px solid var(--red);
}
.services .service-box.red .icon {
    background: #fef7f8;
}
.services .service-box.red .icon,
.services .service-box.red .read-more {
    color: var(--red);
}
.services .service-box.red:hover {
    background: var(--red);
}
.services .service-box.purple {
    border-bottom: 3px solid var(--purple);
}
.services .service-box.purple .icon {
    background: #f8e4fd;
}
.services .service-box.purple .icon,
.services .service-box.purple .read-more {
    color: var(--purple);
}
.services .service-box.purple:hover {
    background: var(--purple);
}
.services .service-box.pink {
    border-bottom: 3px solid var(--pink);
}
.services .service-box.pink .icon {
    background: #feecf7;
}
.services .service-box.pink .icon,
.services .service-box.pink .read-more {
    color: var(--pink);
}
.services .service-box.pink:hover {
    background: var(--pink);
}

.services .service-box.light {
    border-bottom: 3px solid var(--light);
}
.services .service-box.light .icon {
    background: #feecf7;
}
.services .service-box.light .icon,
.services .service-box.light .read-more {
    color: var(--light);
}
.services .service-box.light:hover {
    background: var(--light);
}
.services .service-box.blight {
    border-bottom: 3px solid var(--blight);
}
.services .service-box.blight .icon {
    background: #feecf7;
}
.services .service-box.blight .icon,
.services .service-box.blight .read-more {
    color: var(--blight);
}
.services .service-box.blight:hover {
    background: var(--blight);
}
.services .service-box.dark {
    border-bottom: 3px solid var(--dark);
}
.services .service-box.dark .icon {
    background: #feecf7;
}
.services .service-box.dark .icon,
.services .service-box.dark .read-more {
    color: var(--dark);
}
.services .service-box.dark:hover {
    background: var(--dark);
}

.services .service-box:hover h3,
.services .service-box:hover p,
.services .service-box:hover .read-more {
    color: var(--white);
}
.services .service-box:hover .icon {
    background: var(--white);
}

/* Index Page */
/* About */
.about .content {
    background-color: #f6f9ff;
    padding: 40px;
}
.about h3 {
    font-size: 14px;
    font-weight: 700;
    color: var(--light);
    text-transform: uppercase;
}
.about h2 {
    font-size: 24px;
    font-weight: 700;
    color: var(--dark1);
}
.about p {
    margin: 15px 0 30px 0;
    line-height: 24px;
}
.about .btn-read-more {
    line-height: 0;
    padding: 15px 40px;
    border-radius: 4px;
    transition: 0.5s;
    color: var(--white);
    background: var(--light);
    box-shadow: 0px 5px 25px rgba(65, 84, 241, 0.3);
}
.about .btn-read-more span {
    font-weight: 600;
    font-size: 16px;
    letter-spacing: 1px;
}
.about .btn-read-more i {
    margin-left: 5px;
    font-size: 18px;
    transition: 0.3s;
}
.about .btn-read-more:hover i {
    transform: translateX(5px);
}

/* Values */
.values .box {
    padding: 30px;
    box-shadow: 0px 0 5px var(--dbrown);
    text-align: center;
    transition: 0.3s;
    height: 100%;
}
.values .box img {
    padding: 30px 50px;
    transition: 0.5s;
    transform: scale(1.1);
}
.values .box h3 {
    font-size: 24px;
    color: var(--dark1);
    font-weight: 700;
    margin-bottom: 18px;
}
.values .box:hover {
    box-shadow: 0px 0 30px var(--dbrown);
}
.values .box:hover img {
    transform: scale(1);
}

/*  Footer */
.footer {
    background: #f6f9ff;
    font-size: 14px;
}
.footer .footer-newsletter {
    padding: 50px 0;
    background: #f6f9ff;
    border-top: 1px solid #e1ecff;
}
.footer .footer-newsletter h4 {
    font-size: 24px;
    margin: 0 0 10px 0;
    padding: 0;
    line-height: 1;
    font-weight: 700;
    color: var(--dark1);
}
.footer .footer-newsletter form {
    margin-top: 20px;
    background: var(--white);
    padding: 6px 10px;
    position: relative;
    border-radius: 4px;
    border: 1px solid #e1ecff;
}
.footer .footer-newsletter form input[type="email"] {
    border: 0;
    padding: 8px;
    width: calc(100% - 140px);
}
.footer .footer-newsletter form input[type="submit"] {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    border: 0;
    background: none;
    font-size: 16px;
    padding: 0 30px;
    margin: 3px;
    background: var(--light);
    color: var(--white);
    transition: 0.3s;
    border-radius: 4px;
}
.footer .footer-newsletter form input[type="submit"]:hover {
    background: var(--blight);
}
.footer .footer-top {
    background: white url(../img/footer-bg.png) no-repeat right top;
    background-size: contain;
    border-top: 1px solid #e1ecff;
    border-bottom: 1px solid #e1ecff;
    padding: 60px 0 30px 0;
}
@media (max-width: 992px) {
    .footer .footer-top {
        background-position: center bottom;
    }
}
.footer .footer-top .footer-info {
    margin-bottom: 30px;
}
.footer .footer-top .footer-info .logo {
    line-height: 0;
    margin-bottom: 15px;
}
.footer .footer-top .footer-info .logo img {
    max-height: 40px;
    margin-right: 6px;
}
.footer .footer-top .footer-info .logo span {
    font-size: 30px;
    font-weight: 700;
    letter-spacing: 1px;
    color: var(--dark1);
    margin-top: 3px;
}
.footer .footer-top .footer-info p {
    font-size: 14px;
    line-height: 24px;
    margin-bottom: 0;
}
.footer .footer-top .social-links a {
    font-size: 20px;
    display: inline-block;
    color: rgba(1, 41, 112, 0.5);
    line-height: 0;
    margin-right: 10px;
    transition: 0.3s;
}
.footer .footer-top .social-links a:hover {
    color: var(--dark1);
}
.footer .footer-top h4 {
    font-size: 16px;
    font-weight: bold;
    color: var(--dark1);
    text-transform: uppercase;
    position: relative;
    padding-bottom: 12px;
}
.footer .footer-top .footer-links ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
.footer .footer-top .footer-links ul i {
    padding-right: 2px;
    color: #d0d4fc;
    font-size: 12px;
    line-height: 0;
}
.footer .footer-top .footer-links ul li {
    padding: 10px 0;
    display: flex;
    align-items: center;
}
.footer .footer-top .footer-links ul li:first-child {
    padding-top: 0;
}
.footer .footer-top .footer-links ul a {
    color: var(--dark);
    transition: 0.3s;
    display: inline-block;
    line-height: 1;
}
.footer .footer-top .footer-links ul a:hover {
    color: var(--light);
}
.footer .footer-top .footer-contact p {
    line-height: 26px;
}
.footer .copyright {
    text-align: center;
    padding-top: 30px;
    color: var(--dark1);
}
.footer .credits {
    padding-top: 10px;
    text-align: center;
    font-size: 13px;
    color: var(--dark1);
}
body {
    font-family: "El Messiri", sans-serif;
}

.dropicon {
    background-color: #012970;
    color: white;
    padding: 9px;
    font-size: 16px;
}

.dropdown {
    position: relative;
    display: inline-block;
    margin-right: 20px;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #fff;
    min-width: max-content;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    line-height: 15px;
    text-align: right;
}

.dropdown-content a {
    color: #012970;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    color: #4154f1;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropicon {
    background-color: #013289;
}
