body{
box-sizing: border-box;
background-color: rgba(39, 41, 39, 0.137);
}
div#page{
    margin-top: 32px;
    margin-left: 60px;
    }
    #page .page-header{
        font-family: cursive;
        color: green;
    }
    #page .table{
        margin-top:30px;
        width: 1000px;
    }
    #page .table .frist td{
        color: rgb(211, 29, 23);
        font-weight: bold;

    }
    #page .table tr td{
        padding: 10px;
        width: 100px; 
        text-align: center;
    }
  