
:root{
  --light:#4154f1 ;
  --dark: #012970 ;
}

* {
	margin: 0px; 
	padding: 0px; 
	box-sizing: border-box;
}

body, html {
	height: 100%;
	font-family: 'El Messiri', sans-serif;
}





/* mainClasses */
.limiter {
  width: 100%;
  margin: 0 auto;
}

/* conatiner */ 
.container-login,
.container-register,
.container-problem,
.container-newpass,
.container-confirm {
  width: 100%;  
  min-height: 100vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background: #f2f2f2;
}

/* wrap */
.wrap-login,
.wrap-register,
.wrap-problem,
.wrap-newpass,
.wrap-confirm {
  width: 100%;
  background: #fff;
  overflow: hidden;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  flex-direction: row-reverse;

}

/* start login more */
.login-more ,
.register-more ,
.problem-more ,
.newpass-more ,
.confirm-more {
  width: calc(100% - 560px);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  z-index: 1;
}

.login-more::before ,
.register-more::before ,
.problem-more::before ,
.newpass-more::before ,
.confirm-more::before {
  content: "";
  display: block;
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0,0,0,0.1);
}
/* end login more */


/* start Form */

.login-form ,
.register-form ,
.problem-form ,
.newpass-form ,
.confirm-form {
  width: 560px;
  min-height: 100vh;
  display: block;
  background-color: #f7f7f7;
  padding: 50px 55px 55px 55px;
}

/* form title*/
.login-form-title ,
.register-form-title ,
.problem-form-title ,
.newpass-form-title ,
.confirm-form-title {
  width: 100%;
  display: block;
  font-size: 30px;
  color: var(--dark);
  line-height: 1.2;
  text-align: center;
}

/* registerProblem */
.number-info{
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  width: 100%;
  height: 80px;
  position: relative;
  border: 1px solid #e6e6e6;
  border-radius: 10px;
  margin-bottom: 10px;
}

.number-info{
  display: block;
  width: 100%;
  background: transparent;
  font-size: 18px;
  color: #555555;
  line-height: 1.2;
  padding: 0 26px;
}

.small{
  margin-bottom: 15px;
  font-size: 18px;
}

/* Button */
button,
.form-select {
	outline: none !important;
	border: none;
	background: transparent;
}
button:hover,
.form-select:hover  {
	cursor: pointer;
}
.container-login-form-btn ,
.container-register-form-btn ,
.container-problem-form-btn ,
.newpass-problem-form-btn ,
.confirm-problem-form-btn {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.login-form-btn ,
.register-form-btn ,
.problem-form-btn ,
.newpass-form-btn ,
.confirm-form-btn {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
  width: 100%;
  height: 50px;
  border-radius: 10px;
  background: var(--light);


  font-size: 18px;
  color: #fff;
  line-height: 1.2;
  text-transform: uppercase;
  letter-spacing: 1px;

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}

.login-form-btn:hover ,
.register-form-btn:hover ,
.problem-form-btn:hover ,
.newpass-form-btn:hover ,
.confirm-form-btn:hover {
  background: var(--dark);
}

/* start framework */

/* link */
a {
	font-size: 14px;
	line-height: 1.7;
	color: var(--light);
	margin: 0px;
	transition: all 0.4s;
	-webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
}

a:focus {
	outline: none !important;
}

a:hover {
	text-decoration: none;
  color: var(--dark);
}

/* heading */
h1,h2,h3,h4,h5,h6 {
	margin: 0px;
}

/* list */
ul, li {
	margin: 0px;
	list-style-type: none;
}

/* start input */ 
input{
  height: 50px;
  border: 1px solid #999999;
  border-radius: 5px;
  color: #666666;
  width: 100%;
  padding-right: 5px;
}
input:focus{
  outline: none;
  border: 2px solid var(--light);
}
input::placeholder{
  color: #222020;
}
input::-webkit-input-placeholder {  color: #222020;}
input:-moz-placeholder { color: #222020;}
input::-moz-placeholder { color: #222020;}
input:-ms-input-placeholder { color: #222020;}
/* end input */

/*button*/


/* Text */
.txt1 {
  font-size: 15px;
  line-height: 1.4;
  color: var(--light);
}

.txt2 {
  font-size: 15px;
  line-height: 1.4;
  color: #999999;
}


/* end framework */

/* Responsive */

@media (max-width: 992px) {
  .register-form {
    width: 50%;
    padding-left: 30px;
    padding-right: 30px;
  }

  .register-more {
    width: 50%;
  }
}

@media (max-width: 768px) {
  .register-form {
    width: 100%;
  }

  .register-more {
    display: none;
  }
}

@media (max-width: 576px) {
  .register-form {
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 70px;
  }
}


@media (max-width: 992px) {
  .alert-validate::before {
    visibility: visible;
    opacity: 1;
  }
}

/* end form */

